<header id="principal-header">
  <div id="search">
    <nav>
      <li>
        <a href="/" rel="noopener noreferrer"><ul>Pokemon Generator</ul></a>
        <a href="multi" rel="noopener noreferrer"><ul>MultiPlayer Game</ul></a>
        <a href="" rel="noopener noreferrer"><ul>PokeInfo</ul></a>
        <a href="contact" rel="noopener noreferrer"><ul>About us</ul></a>
        <a href="contact" rel="noopener noreferrer"><ul>Contact</ul></a>
      </li>
    </nav>
  </div>  
</header>